# Môi trường ảo
venv/
env/
__pycache__/

# Biến môi trường ẩn chứa API Key
.env
.env.*

# Mô hình cục bộ quá nặng
# Mô hình cục bộ quá nặng (Tạm thời bỏ qua khỏi ignore để đẩy lên Replit)
# best.pt

# Log files
*.log
